@media only screen and (min-width: 1920px){
	.header::after {
		width: 60.2%;
	}
}
@media only screen and (min-width: 1681px) and (max-width: 1919px) {
	.header::after {
		width: 58%;
	}
}

@media only screen and (min-width: 1600px) and (max-width: 1680px) {
	.header::after {
		width: 58.5%;
	}
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
	.header::after {
		width: 59.8%;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {

	.header .col-lg-2 {
		width: 25%;
		max-width: 25%;
		flex: none;
	}

	.header .col-lg-6 {
		width: 75%;
		max-width: 75%;
		flex: none;
	}

	.header .col-lg-4 {
		width: 50%;
		margin-left: 50%;
		max-width: 50%;
		flex: none;
	}

	.main-menu {
		padding-right: 0;
	}

	.header::after {
		display: none;
	}

	.mobile-image {
		display: block;
		margin-top: 15px;
	}

	.single-welcome-slide::after {
		display: none;
	}

	.welcome-slider .offset-lg-8 {
		margin-left: 0;
		width: 100%;
		max-width: 100%;
		flex: none;
	}

	.single-welcome-slide .row {
		margin: 0;
		padding: 0;
	}

	.single-welcome-slide .col-lg-4 {
		padding: 0;
		margin: 0;
	}

	.single-welcome-slide .offset-lg-8 {
		margin: 0;
		padding: 0;
	}

	.single-welcome-slide .container {
		margin: 0;
		padding: 0;
		max-width: 100%;
	}

	.single-welcome-slide .mobile-image {
		margin-top: 0;
	}

	.mobile-image img {
		width: 100%;
	}

	.welcome-slider-text {
		padding: 30px;
	}
}

/*	Medium Layout: 1280px	*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	/* css */

}

/*		Tablet Layout: 768px.       */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.main-menu {
		padding-right: 0;
	}

	.header .col-lg-2 {
		width: 25%;
		max-width: 25%;
		flex: none;
	}

	.header .col-lg-6 {
		width: 75%;
		max-width: 75%;
		flex: none;
	}

	.header .col-lg-4 {
		width: 50%;
		margin-left: 50%;
		max-width: 50%;
		flex: none;
	}
}




/*		Tablet and Mobile Layout         */
@media only screen and (max-width: 991px) {
	.header::after {
		display: none;
	}

	.mobile-image {
		display: block;
		margin-top: 15px;
	}

	.single-welcome-slide::after {
		display: none;
	}

	.more-snapshots {
		margin-bottom: 15px;
	}

	.footer-top-carousel .owl-nav div {
		right: 30px;
		top: -40px;
		left: auto;
		font-size: 40px;
	}

	.footer-top-carousel .owl-nav div.owl-next {
		right: 0;
	}

	.subscribe-form input {
		margin: 10px 0;
	}

	.footer-area {
		text-align: center;
	}

	.footer-right {
		text-align: center !important;
	}

	.footer-menu li a {
		padding: 10px;
	}

	.welcome-slider .offset-lg-8 {
		margin-left: 0;
		width: 100%;
		max-width: 100%;
		flex: none;
	}

	.single-welcome-slide .row {
		margin: 0;
		padding: 0;
	}

	.single-welcome-slide .col-lg-4 {
		padding: 0;
		margin: 0;
	}

	.single-welcome-slide .offset-lg-8 {
		margin: 0;
		padding: 0;
	}

	.single-welcome-slide .container {
		margin: 0;
		padding: 0;
		max-width: 100%;
	}

	.single-welcome-slide .mobile-image {
		margin-top: 0;
	}

	.mobile-image img {
		width: 100%;
	}

	.welcome-slider-text {
		padding: 30px;
	}
}


/*		Mobile Layout: 320px.         */

@media only screen and (max-width: 767px) {
	.slicknav_menu {
		display: block;
	}

	.header {
		padding-bottom: 70px;
	}

	.main-menu {
		display: none;
	}


	.logo {
		text-align: center;
	}

	.main-menu {
		padding-right: 0;
		text-align: center;
	}

	.main-menu li a {
		padding: 10px;
	}

	.header-right {
		text-align: center;
	}

	.single-welcome-slide::after {
		width: 100%;
		clip-path: none;
		shape-outside: none;
	}

	.subscribe-box {
		padding: 20px;
	}

	.search {
		width: 80%;
	}




}



/*		Wide Mobile Layout: 480px.        */

@media only screen and (min-width: 480px) and (max-width: 767px) {

	/* css */

}





/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

	/* css */

}